# Knock API Keys
EXPO_PUBLIC_KNOCK_PUBLIC_KEY=

# Knock Channel ID (get this from your Expo channel in Knock dashboard)
EXPO_PUBLIC_KNOCK_EXPO_CHANNEL_ID=

# Your backend URL (replace with your Ubuntu IP)
EXPO_PUBLIC_BACKEND_URL=

# Expo Project ID
EXPO_PUBLIC_PROJECT_ID=